.footer {
  height: 10vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
}
